.Header {
    grid-area: h;
    background-color: olivedrab;
    max-width: 1200px;
}

.Logo {
    margin: 10px auto;
    display: block;
    width: 200px;

}

.Logo__img {
    width: 200px;
    display: block;
}

.Header__block {
	position: absolute;
	left: 1200px;
	top: 50px;
	text-decoration: underline;
}

.Header__block a {
	font-size: 26px;
}
